@{
    ViewData["Title"] = "Học sinh";
}

<h2>Chào mừng, Học sinh!</h2>
<p>Đây là trang dành cho học sinh.</p>

<ul>
    <li><a asp-controller="Diem" asp-action="XemDiem">Xem điểm</a></li>
    <li><a asp-controller="HocPhi" asp-action="Index">Thông tin học phí</a></li>
</ul>
